@import url("./styles/header.css");
@import url("./styles/main.css");
@import url("./styles/footer.css");





:root{
    --background-color: #292929;
    --primary-color:  #292929;
    --secondary-color: white;
    --tertiary-color: #5e2129;
    --primary-font:  Russo One; 

  }
  
  
  
  
  body{
      background-color: var(--primary-color);
      margin: 0 0 150px; /* altura do seu footer */
      width: 100%;
      min-height: 100vh;
      display: block;
      overflow-x: hidden;
      }
  
  *{
  padding: 0;
  margin: 0;
  
  }
  
  li {
      list-style-type: none;
    }
  
  
    
  
     